ExceptionFaultExample/Client/Service References/localhost/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DemoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DemoException" nillable="true" type="tns:DemoException" />
</xs:schema>