ContractDemoApp/Client/Connected Services/EmpServiceReference/wcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.trobinsoin41.com/wcf" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.trobinsoin41.com/wcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.trobinsoin41.com/wcf/Imports">
      <xsd:import namespace="http://www.trobinsoin41.com/wcf" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_InsertEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_InsertEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="InsertEmp">
      <wsdl:input wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/InsertEmp" message="tns:IEmpService_InsertEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/InsertEmpResponse" message="tns:IEmpService_InsertEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <wsdl:input wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/UpdateEmp" message="tns:IEmpService_UpdateEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/UpdateEmpResponse" message="tns:IEmpService_UpdateEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmp">
      <wsdl:input wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/DeleteEmp" message="tns:IEmpService_DeleteEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/DeleteEmpResponse" message="tns:IEmpService_DeleteEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/GetEmployees" message="tns:IEmpService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/GetEmployeesResponse" message="tns:IEmpService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpDetails">
      <wsdl:input wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/GetEmpDetails" message="tns:IEmpService_GetEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.trobinsoin41.com/wcf/IEmpService/GetEmpDetailsResponse" message="tns:IEmpService_GetEmpDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>