DuplexPublishSubscribe/Subscriber/Service References/localhost/Demo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.deccansoft.com/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.deccansoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.deccansoft.com/Imports">
      <xsd:import schemaLocation="http://localhost:8000/Demo?xsd=xsd0" namespace="http://www.deccansoft.com/" />
      <xsd:import schemaLocation="http://localhost:8000/Demo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublisherService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPublisherService_Notify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:portType name="IPublisherService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://www.deccansoft.com/IPublisherService/Subscribe" message="tns:IPublisherService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.deccansoft.com/IPublisherService/SubscribeResponse" message="tns:IPublisherService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://www.deccansoft.com/IPublisherService/Unsubscribe" message="tns:IPublisherService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.deccansoft.com/IPublisherService/UnsubscribeResponse" message="tns:IPublisherService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:output wsaw:Action="http://www.deccansoft.com/IPublisherService/Notify" message="tns:IPublisherService_Notify_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>